@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter;
  src: url(./fonts/Inter.ttf);
}

body {
  margin: 0;
}

.test {
  background: #80cfcd;
}

/* #DisplayTable */

table,
th,
td {
  border-spacing: 0px;
}

.ww {
  color: white;
}
