@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter;
  src: url(./fonts/Inter.ttf);
}

body {
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
}

.test {
  background: #80cfcd;
}

/* #DisplayTable */

table,
th,
td {
  border-spacing: 0px;
}

.ww {
  color: white;
}
.react-datepicker-wrapper {
  position: absolute;
  z-index: -1 !important;
}

.formd1.react-datepicker-popper {
  left: 7rem !important;
  top: 0.8rem !important;
  padding-top: 10px !important;
}

.form1d1a1 .react-datepicker__tab-loop {
  position: absolute;
}

@media only screen and (max-width: 1280px) {
  .formd1.react-datepicker-popper {
    transform: translate(40vw, 30px) !important;
  }
}
@media only screen and (max-width: 1024px) {
  .formd1.react-datepicker-popper {
    transform: translate(44vw, 30px) !important;
  }
}

@media only screen and (max-width: 777px) {
  .formd1.react-datepicker-popper {
    transform: translate(33vw, 30px) !important;
  }
}
@media only screen and (max-width: 640px) {
  .formd1.react-datepicker-popper {
    transform: translate(-30vw, 30px) !important;
  }
}
@media only screen and (max-width: 455px) {
  .formd1.react-datepicker-popper {
    transform: translate(-57vw, 75px) !important;
  }
}
.formd2.react-datepicker-popper {
  left: 0rem !important;
  top: -3rem !important;
  /* padding-top: 10px !important; */
}
.formd1 .react-datepicker__header {
  padding-top: 35px !important;
}
.react-datepicker__triangle {
  transform: translate3d(120px, 0px, 0px) !important;
}

.customSelectMe > div {
  flex-direction: row-reverse;
  border-color: #54bab9;
}

.dark .customSelectMe > div {
  border-color: #5902ec;
}

.dark .customSelectMe > div {
  flex-direction: row-reverse;
  border-color: #5902ec;
  background-color: #eaeaea;
}

.dark .customSelectMe * {
  color: black !important;
}

.customSelectMe > div > div:nth-child(1) > div {
  padding-left: 40px;
}
.dark .customSelectMe > div > div:nth-child(2) {
  background-color: #5902ec;
}
.customSelectMe > div > div:nth-child(2) {
  background-color: #80cfcd;
  transform: translate(-0.4px, 0px);
  position: absolute;
  height: 38px;
  top: -1px;
  left: -0.7px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.customSelectMe > div > div:nth-child(2) > span {
  display: none;
}

.customSelectMe input:focus {
  outline: none;
  border: none;
}

.tablepag1 .break {
  display: inline;
}

.makeDark {
  background: rgb(51, 51, 51) !important;
}
